.border-gray-b3 {
  --tw-border-opacity: 1;
  border-color: rgba(179, 179, 179, var(--tw-border-opacity));
}

.color-4D {
  color: #4d4d4d;
}

.w-368px-rem {
  width: 23rem;
}

.w-fit-content {
  width: fit-content;
}

.bg-yellow-FFCC1B {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 204, 27, var(--tw-bg-opacity));
}

.bg-blue-00BFDA {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 191, 218, var(--tw-text-opacity));
}

.bg-blue-0099B8 {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 153, 184, 100%);
}

.-transformx-1\/2 {
  transform: translateX(-50%);
}

.-transformy-1\/2 {
  transform: translateY(-50%);
}

.transformx-1\/4-rem {
  transform: translateX(0.25rem);
}

.text-blue-00bfda {
  --tw-text-opacity: 1;
  color: rgba(0, 191, 218, var(--tw-text-opacity));
}

.text-gray-24 {
  --tw-text-opacity: 1;
  color: rgba(36, 36, 36, var(--tw-text-opacity));
}

.small-screen-card-icons {
  display: none;
}

.card-icons {
  display: initial;
}

.dropdown-width {
  width: 98%;
}

.favorited-icon {
  width: 35px;
  height: 34px;
  text-align: center;
  display: block;
}

.small-favorited-icon {
  width: 30px;
  height: 33px;
  font-size: 1.75rem;
  text-align: center;
  display: block;
  margin-top: -5px;
}

.more-info-entry {
  display: flex;
  flex-flow: row;
  padding: 0.25rem 0;
  line-height: 1.25rem;
}

.more-info-category {
  font-weight: bold;
  flex: 0 0 25%; /* 17%; */
}

.more-info-value {
  margin-left: 2rem;
  font-weight: 300;
  overflow: hidden;
}

.more-info-value span {
  white-space: nowrap;
}

.truncate-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.more-info-container hr {
  margin: auto;
}

.-arrow-icon-text {
  line-height: 1.75rem;
  font-size: 1.875rem;
}

.pet-image {
  height: 100%;
}

.image-container {
  width: 10rem;
}

.modal-backdrop {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.88);
}
.more-info-modal-container {
  height: min-content;
  margin: auto;
}

/* loader */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #00bfda;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* animations */
.fade-in {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .more-info-icons {
    font-size: 1.25rem !important;
    transform: translateY(-0.25rem);
  }

  .more-info-category {
    flex: 0 0 31%;
  }

  .truncate-overflow {
    -webkit-line-clamp: 3;
  }

  .-arrow-icon-text {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .pet-info-detail:not(:first-of-type)::before {
    content: ",\00a0";
    display: inline-block;
  }

  .pet-image {
    min-width: 15rem;
    width: 100%;
    height: 100%;
  }

  .small-screen-card-icons {
    display: initial;
    width: 2rem;
  }

  .card-icons {
    display: none;
  }

  .more-info-category {
    flex: 0 0 35%;
  }

  .more-info-entry {
    font-size: 0.875rem;
    line-height: 1.15rem;
    padding: 0.65rem 0;
  }

  .truncate-overflow {
    -webkit-line-clamp: 1;
  }

  .more-info-container hr {
    display: none;
  }

  .-arrow-icon-text {
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .more-info-category {
    flex: 0 0 8%;
  }
}

@media screen and (max-width: 635px) {
  .main-container {
    padding: 20px 0 !important;
  }

  .pet-image {
    min-width: 10rem;
    width: 100%;
    height: 10rem;
  }

  .more-info-entry {
    font-size: 0.85rem;
    line-height: 0.95rem;
    padding: 0.275rem 0;
  }

  .more-info-category {
    flex: 0 0 18%;
  }

  .-arrow-icon-text {
    line-height: 1rem;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 575px) {
  .more-info-entry {
    font-size: 0.85rem;
    line-height: 0.95rem;
    padding: 0.275rem 0;
  }
}

@media screen and (max-width: 425px) {
  .pet-card {
    height: 6rem;
  }

  .pet-image {
    min-width: 6rem;
  }

  .image-container {
    width: 6rem;
  }

  .pet-stats-1 {
    font-size: 0.975rem;
    line-height: 1rem;
  }
  .pet-stats-2 {
    font-size: 0.85rem;
  }
  .pet-stats-3 {
    margin: 0 !important;
    font-size: 0.785rem;
    flex-wrap: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .adopted-stat {
    font-size: 0.825rem;
  }
}
